@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #BF1A2F;
    color: #ffffff;
    height: 60px;
    padding: 0 0 0 10px;
}

.set-user {
    margin-top: 50px;
}

.set-user > h2 {
    margin-bottom: 10px;
}

.set-user > h2, .set-user-form {
    text-align: center;
}

.set-user >  .set-user-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.set-user > .set-user-form > .name-input {
    height: 35px;
    margin-right: 10px;
    padding-left: 5px;
}

.set-user > .set-user-form > .name-input {
    height: 35px;
    margin-right: 10px;
    padding-left: 5px;
}


.chat-window-header {
    margin: 40px 10px 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BF1A2F;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: #ffffff;
    height: 50px;
}

.chat-window {
    margin: 0 10px 5px 10px;
    height: 450px;
    overflow: auto;
    border: 1px solid #BF1A2F;
}

.chat-window > .chat-msg {
    margin: 20px;
    list-style: none;
}

.chat-msg > .chat-data {
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-window > .chat-typing {
    margin-left: 25px;
    color: grey;
    font-size: 18px;
}

.name {
    color: grey;
}

.current-user {
    display: inline-block;
    padding: 5px 10px 5px 10px;
    background-color: #BF1A2F;
    color: #ffffff;
    border-radius: 3px;
    font-size: 18px;
    font-weight: bold;
}

.other-user {
    display: inline-block;
    padding: 5px 10px 5px 10px;
    background-color: #2460A7FF;
    color: #ffffff;
    border-radius: 3px;
    font-size: 18px;
    font-weight: bold;
}

.time {
    color: grey;
    font-weight: bold;
}

.chat-window-footer {
    margin: 15px 10px 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
}

.chat-window-footer > .message-input {
    height: 35px;
    width: calc(100% - 120px);
    margin-right: 10px;
    padding-left: 5px;
}

.send-btn {
    font-size: 20px;
    height: 35px;
    width: 140px;
    display: inline-block;
    text-align: center;
    background-color: #BF1A2F;
    border: 1px solid #BF1A2F;
    border-radius: 5px;
    color: #ffffff;
}

.join-message {
    margin: 10px;
    font-weight: bold;
    font-size: 20px;
}

.change-user {
    color: #BF1A2F;
    font-weight: bold;
}

.change-msg {
    margin: 15px 10px 10px 10px;
    text-align: center;
}